<form method='post' action='/links'> 
Link : <input type='text' name='link_name' placeholder= 'Add your link name here'>
URL : <input type='text' name='link_url' placeholder= 'Add your URL here'>
<input type='submit' id='save' value='Add Link'>
</form>
