<form method='post' action='/links'>
<input type='text' name='link_name' placeholder= 'Link Name'>
<input type='text' name='link_url' placeholder= 'Link URL'>
<input type='text' name='link_tag' placeholder= 'Link Tag'>
<input type='submit' id='save' value='Add Link'>
</form>
